
.landind {
    background-image: url(./image/skies.png);
}
.font {
    font-family: IM Fell DW Pica SC
Static ;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.menu.show {
    display: flex;
}